flake8==5.0.4
mccabe==0.7.0
pycodestyle==2.9.1
pyflakes==2.5.0
bleach
commonmark==0.9.1
docutils
importlib-metadata
jaraco.classes
keyring==23.11.0
more-itertools==9.0.0
pkginfo==1.8.3
Pygments==2.13.0
pywin32-ctypes==0.2.0
readme-renderer==37.3
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==12.6.0
six==1.16.0
twine==4.0.1
webencodings==0.5.1
zipp==3.10.0
attrs==22.1.0
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
colorama==0.4.6
pyparsing==3.0.9
pytest==7.2.0
-r requirements.txt
