flake8==5.0.4
mccabe==0.7.0
pycodestyle==2.9.1
pyflakes==2.5.0
bleach
commonmark==0.9.1
docutils
importlib-metadata
jaraco.classes
keyring
more-itertools
pkginfo
Pygments
pywin32-ctypes
readme-renderer
requests-toolbelt
rfc3986
rich
six
twine
webencodings
zipp
attrs
iniconfig
packaging
pluggy
colorama
pyparsing
pytest
-r requirements.txt
